<%= form_for(@spot) do |f| %>
  <%= error_messages_for @spot, :header_message => "Couldn't create the spot"%>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :payback_date %><br />
    <%= f.date_select :payback_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
